# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - add_ssh_keys:
          fingerprints:
            - "88:dc:c3:ae:9e:1c:27:57:97:0a:63:dc:d3:f8:d4:28"
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      # run tests!
      - run: yarn test
      # Publish plugin
      - run:
          name: Install vsce
          command: sudo yarn global add vsce
      - run:
          name: Publish to VS Code Market
          command: vsce publish patch -p $VSCE_KEY
      # Update GitHub version
      - run:
          name: Add GitHub email
          command: git config --global user.email "$GH_EMAIL" > /dev/null 2>&1
      - run:
          name: Add GitHub username
          command: git config --global user.name "$GH_NAME" > /dev/null 2>&1
      - run:
          name: Commit & Push
          command: git add -A && git commit -m "update version" && git push origin master
